form {
  text-align: center;
  padding: 0 10px 50px;
}

ul {
  list-style: none;
  line-height: 30px;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  color: #6c717c;
  margin: 50% auto;
}
h1 {
  text-align: center;
  color: #053278;
  font-family: "Mitr", sans-serif;
}
h2 {
  font-family: "Poppins", sans-serif;
  color: #6c717c;
  font-size: 22px;
}
body {
  background-image: url("https://torange.biz/photofxnew/1/HD/clear-sky-1049.jpg");
}

.all {
  border: 1px solid black;
  border-radius: 2%;
  padding: 30px;
  margin: 150px 300px 10px;
  background-color: #d7e5f2;
}
.small {
  padding: 10px;
  margin: 10px 200px;
}
.feture {
  text-align: center;
  color: #6c717c;
  font-size: 17px;
  margin-top: 20px;
  border: 1px solid #6c717c;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
}
.date {
  font-weight: normal;
  font-size: 22px;
  text-align: center;
  line-height: 30px;
}
#cel {
  font-weight: normal;
  font-size: 30px;
}
.temperature {
  font-size: 40px;
  text-align: center;
  display: block;
}
.units {
  text-align: center;
  display: block;
}
#current-location-button {
  float: right;
  background-color: #053278;
  color: #f9fffe;
  padding: 1px 50px;
  border: 1px solid #053278;
  border-radius: 5px;
}
#city-form {
  display: inline-block;
}
#icon {
  display: block;
  margin: 0 auto;
  padding: 0;
}
#searchButtom {
  background-color: #053278;
  color: #f9fffe;
  padding: 1px 50px;
  border: 1px solid #053278;
  border-radius: 5px;
}
